/*custom styles*/
body {
  font-family: 'Josefin Sans', sans-serif;
}
.jumbotron {
  background-color: rgba(0, 0, 0, 0);
}

.jumbotron h1 {
  font-weight: 700;
}

.question1 , .question2 , .question3 , .question4 , .question5 {
  margin: 20px;
  font-size: larger;
}

/* Buttons */

#button1 p {
  cursor: : pointer;
  color: #0088cc;
}

#button1 p:hover {
  text-decoration: underline;
}

button {
  margin: 5px;
  margin-bottom: 50px;
}
/*Questions*/
#question2 {
  display: none;
}

#question3 {
  display: none;
}

#question4 {
  display: none;
}

#question5 {
  display: none;
}

/* Results */
.result1 {
  display: none;
}

.result2 {
  display: none;
}

.result3 {
  display: none;
}